{% extends 'base.html' %}
{% load comments %}
{% load comments_xtd %}
{% load thumbnail %}
{% load timesince_filter %}

{% block content %}
    <div class="container">
        <div class="col mt-2">
            {% thumbnail post.author.profile.photo '50' as im %}
                <img src="{{ im.url }}" alt="{{ post.author.username }}" class="rounded-circle" width="50">
            {% endthumbnail %}
        </div>
        <div class="card">
            <div class="card-header">
                <a href="{% url 'posts:user-posts' post.author.username %}" class="card-link font-weight-bolder">
                    {{ post.author.username }}
                </a>&nbsp;
                <small class="text-secondary font-weight-bolder">
                    Posted: {{ post.date_posted|timesince|upto:',' }}&nbsp;ago
                </small>&nbsp;&nbsp;&nbsp;
                {% if post.updated.date > post.date_posted.date %}
                    <small class="text-secondary font-weight-bolder">
                        Updated: {{ post.updated|timesince|upto:',' }}&nbsp;ago
                    </small>
                {% endif %}
                <small class="text-secondary float-md-right font-weight-bolder">
                    {{ post.category }}
                </small>
            </div>
            <div class="card-body">
                <h5 class="text-center">
                    <a href="{% url 'posts:post-detail' post.pk post.slug post.date_posted.year post.date_posted.month post.date_posted.day %}" class="card-link">{{ post.title }}</a>
                </h5>
                <p>
                    {{ post.content|safe }}
                </p>
            </div>
            <div class="card-footer">
                {% for tag in post.tags.all %}
                    <a href="{% url 'posts:post_list_by_tag' tag.slug %}" class="text-decoration-none font-weight-bold text-secondary">
                        <i class="fas fa-tag"></i> {{ tag.name }} &nbsp;
                    </a>
                {% endfor %}
            </div>
        </div>
        {% if post.author_id == request.user.id %}
            <div class="container mt-3">
                <div class="row text-center">
                    <div class="col">
                        <a href="{% url 'posts:update-post' post.id post.slug %}" class="btn btn-success font-weight-bolder">
                            Update Post
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'posts:delete-post' post.id post.slug %}" class="btn btn-danger font-weight-bolder">
                            Delete Post
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% get_comment_count for post as comment_count %}
        <div class="py-4 text-center">
            <a href="{% url 'posts:index' %}" class="text-decoration-none">
                <i class="fas fa-arrow-alt-circle-left"></i> Back to the post list
            </a> &nbsp;&sdot;&nbsp;
            {{ comment_count }} comment{{ comment_count|pluralize }} ha{{ comment_count|pluralize:"s,ve" }} been posted.
        </div>

        {% if comment_count %}
            <div class="container mt-4">
                <ul class="media-list">
                    {% render_xtdcomment_tree for post allow_flagging allow_feedback show_feedback %}
                </ul>
            </div>
        {% endif %}

        {% if post|can_receive_comments_from:user %}
            <div class="container col-md-8">
                <div class="card">
                    <div class="card-header text-center font-weight-bold">
                        Post your comment
                    </div>
                    <div class="card-body">
                        {% render_comment_form for post %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card mt-4 mb-5 text-center">
                <div class="card-body">
                    <p class="card-text font-weight-bold">
                        Only registered users can post comments. Please,
                        <a href="{% url 'users:login' %}?next={{ post.get_absolute_url }}" class="text-decoration-none card-link font-weight-bold">
                            Login <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}