{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}
{% load timesince_filter %}

{% block content %}
    <div class="container">
        <h5>
            {{ user.username }} has written {{ user.author_post.count }} post{{ user.author_post.count|pluralize }} &verbar;
            <a href="{% url 'posts:view-author-profile' user.username %}" class="btn btn-outline-primary btn-sm font-weight-bolder">
                <i class="fas fa-eye"></i> View {{ user.username }} Profile
            </a>
        </h5>
    </div>
    <div class="container">
        {% for post in object_list %}
            <div class="col mt-2">
                {% thumbnail post.author.profile.photo '50' as im %}
                    <img src="{{ im.url }}" alt="{{ post.author.username }}" class="rounded-circle" width="50">
                {% endthumbnail %}
            </div>
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'posts:user-posts' post.author.username %}" class="card-link font-weight-bolder">
                        {{ post.author.username }}
                    </a>&nbsp;
                    <small class="text-secondary font-weight-bolder">
                        Posted: {{ post.date_posted|timesince|upto:',' }}&nbsp;ago
                    </small>
                    <small class="text-secondary float-md-right font-weight-bolder">
                        {{ post.category }}
                    </small>
                </div>
                <div class="card-body">
                    <h5 class="text-center">
                        <a href="{% url 'posts:post-detail' post.pk post.slug post.date_posted.year post.date_posted.month post.date_posted.day %}" class="card-link">{{ post.title }}</a>
                    </h5>
                    <p>
                        {{ post.content|safe }}
                    </p>
                </div>
                <div class="card-footer">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'posts:post_list_by_tag' tag.slug %}" class="text-decoration-none font-weight-bold text-secondary">
                            <i class="fas fa-tag"></i> {{ tag.name }} &nbsp;
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!-- comments -->
            <div class="container text-center my-2">
                {% get_comment_count for post as comment_count %}
                {% if comment_count %}
                    <p class="date">Published {{ post.publish }}
                        &sdot;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}
                    </p>
                {% else %}
                    <p>No Comments</p>
                {% endif %}
            </div>
        {% empty %}
             <div class="card">
                 <div class="card-header">
                     <h5 class="text-center font-weight-bolder">Post 404</h5>
                 </div>
                 <div class="card-body">
                     <h1 class="text-center">No Post Yet</h1>
                 </div>
             </div>
        {% endfor %}
    </div>
{% endblock %}