<!-- sign up side note -->
<div class="card">
    <div class="card-header">
        <h5 class="text-center card-text font-weight-bolder">
            Join Today
        </h5>
    </div>
    <div class="card-body">
        <p class="font-italic card-text text-center">
            Join Tech Blog today to share your knowledge with millions of developers.
        </p>
        <p class="text-center card-text">
            <strong>
                <a href="{% url 'users:register' %}" class="text-decoration-none card-link">
                    Join Now <i class="fas fa-user-plus"></i>
                </a>
            </strong>
        </p>
    </div>
</div>