<div class="container-fluid col-md-10">
    <form action="{% url 'posts:search' %}" method="get" class="form-group">
        <label for="search"></label>
        <div class="input-group">
            <input type="search" id="search" name="keyword" class="form-control form-control-lg" placeholder="Search for Posts..." value="{{ values.keyword }}">
            <div class="input-group-append">
                <button class="btn btn-success font-weight-bold">
                    <i class="fas fa-search fa-2x"></i>
                </button>
            </div>
        </div>
    </form>
</div>