{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container col-md-7">
        <div class="card">
            <div class="card-header text-center font-weight-bolder">
                Complete Password Reset
            </div>
            <div class="card-body">
                {% if validlink %}
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary form-control font-weight-bolder">
                            Reset <i class="fas fa-recycle"></i>
                        </button>
                    </form>
                {% else %}
                    <p class="card-text text-center alert alert-danger">
                        The password reset link is invalid. <i class="fas fa-times text-danger"></i> &nbsp;
                        <a href="{% url 'users:password-reset' %}" class="text-decoration-none font-weight-bolder card-link">
                            <i class="fas fa-redo"></i> Retry
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}