{% extends 'base.html' %}

{% block content %}
    <div class="container col-md-7">
        <div class="card">
            <div class="card-header text-center font-weight-bolder">
                Password Reset Complete
            </div>
            <div class="card-body">
                <p class="card-text text-center alert alert-success">
                    Password successfully reset. <i class="fas fa-check text-success"></i>
                    <a href="{% url 'users:login' %}" class="card-link font-weight-bolder">
                        Login <i class="fas fa-sign-in-alt"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}