{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container col-lg-8 mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center font-weight-bolder">Login</h5>
            </div>
            <div class="card-body">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary form-control font-weight-bolder">
                        Login <i class="fas fa-sign-in-alt"></i>
                    </button>
                </form>
            </div>
            <div class="card-footer">
                <small class="font-weight-bolder">
                    Don't have an account ? &nbsp;
                    <a href="{% url 'users:register' %}" class="card-link">
                        Sign Up
                    </a>
                </small>&verbar;
                <small class="font-weight-bolder">
                    <a href="#" class="card-link">
                        Forgot Password
                    </a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}